<p class="h2">POR QUE VOCÊ QUER ESTUDAR NOS ESTADOS UNIDOS?</p>

<p class="lead text-muted">Cada aluno é diferente, e é importante pensar sobre suas próprias razões para estudar em uma universidade nos Estados Unidos. Estas razões podem mudar ao longo do tempo, mas elas vão ajudar a orientar a nossa pesquisa para uma universidade americana.</p>

<p class="lead text-muted">Quando você começa a pensar em ingressar em uma universidade americana, você deve definir:</p>
