<table class="table table-hover">
<tr>


<%
  all_labels = ['Status'].concat(Player::LABELS.values)
  all_labels.each do |value|
%>
  <th><%= value %></th>
<% end %>
</tr>
<% @players.each do |player| %>
  <%
    #activate_name = player.active? ? 'Deactivate' : 'Activate'
    activate_link =
      if player.active?
        link_to 'Deactivate', deactivate_player_path(player),
          method: :put,
          remote: true
      else
        link_to 'Activate', activate_player_path(player),
          method: :put,
          remote: true
      end
  %>
  <tr>
    <%
      all_attributes = ['activate'].concat(Player::METHODS.values)
      all_attributes.each_with_index do |method, i|
    %>
      <td><%=
        if i > 0
          player.send(method)
        else
          activate_link
        end
      %></td>
    <% end %>
  </tr>
<% end %>
</table>
