<table class="table table-hover">
<tr>
  <th></th>
  <% player_main_attributes_headers.each do |value| %>
    <th><%= value %></th>
  <% end %>
</tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_activate_deactive(player) %></td>
      <% player_main_attributes(player).each do |_, value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  <% end %>
</table>
