<p class="h3 text-center"><%= @player.name %>, <%= @player.age %> anos</p>

<p class="h3">TO DO LIST</p>
<table class="table table-hover">
  <tr>
  <% @headers.each do |header| %>
    <th><%= header %></th>
  <% end %>
  </tr>

  <tr>
    <td><span class="glyphicon glyphicon-ok"></span></td>
    <td>Getting Started</td>
    <td>Congratualitaions! You began the registration process on this date</td>
    <td>06/10/2017</td>
    <td>06/02/2017</td>
  </tr>

  <tr>
    <td><span class="glyphicon glyphicon-unchecked"></span></td>
    <td>Payment</td>
    <td></td>
    <td>06/14/2017</td>
    <td></td>
  </tr>

  <tr>
    <td><span class="glyphicon glyphicon-exclamation-sign"></span></td>
    <td>Online Profile</td>
    <td>Waiting for approval</td>
    <td>06/16/2017</td>
    <td></td>
  </tr>

  <tr>
    <td><span class="glyphicon glyphicon-remove"></span></td>
    <td>Test Score</td>
    <td>Your score is bellow the minimum</td>
    <td>06/16/2017</td>
    <td></td>
  </tr>
</table>
